/*-------------------------------------------------------------------------
	Publish Tabs
-------------------------------------------------------------------------*/

.tab-group {
	box-sizing: border-box;
	background: #fff;
}

.tab-group > h2 {
	color: #2f77eb; font-size: 2.4rem; font-weight: 300; padding: 1rem 0 3rem;
}

.tab-group:first-child > h2 {
	padding-top: 7rem;
}

.tab-group:nth-child(n + 2) {
	box-sizing: border-box;
	position: relative; left: 0; top: 0; padding-bottom: 3rem;
}

@media (max-width: 1279px){
	.tab-group:first-child {
		position: relative; left: 0; top: 0; padding-bottom: 3rem; height: auto;
	}

	.tab-group:nth-child(n + 2) {
		padding-top: 3rem; border-top: 1px solid #d3dce2;
	}
}

@media (min-width: 1280px){
	.tab-group:first-child {
		overflow: auto; position: fixed; left: 25.1rem; right: 45rem; top: 6rem; padding: 3rem 3rem 10rem; width: auto; height: calc(100vh - 6rem);
	}

	.tab-group:first-child > * {
		margin-left: auto; margin-right: auto; max-width: 90rem;
	}

	.tab-group:nth-child(2) {
		padding-top: 3rem;
	}

	.tab-group:nth-child(n + 2) {
		clear: both; float: right; margin-right: -3rem; padding-left: 3rem; padding-right: 3rem; width: 45rem;
	}

	.tab-group:nth-child(n + 3) {
		padding-top: 3rem; border-top: 1px solid #d3dce2;
	}
}
