body.publish-tabs h2 {
	border-bottom: 0;
}

#publish-tabs-controls {
	list-style-type: none;
	margin: 5px -19px 10px;
	padding: 0 19px;
	border-bottom: 1px solid #ddd;
	background: -moz-linear-gradient(bottom, #eee 0%, #fff 15%, #fff 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff), color-stop(0.15, #fff));
}

#publish-tabs-controls li {
	list-style-type: none;
	display: inline-block;
	*display: inline;
	padding: 3px 10px;
	margin: 0 3px 0 0;
	cursor: pointer;
	background: hsla(0, 0%, 0%, 0.03);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ddd;
	color: #666;
	position: relative;
	top: 1px;
}

#publish-tabs-controls li:hover,
#publish-tabs-controls li.selected {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

#publish-tabs-controls li.invalid span {
	background-color: #aaa;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	padding: 1px 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px 8px;
	border-radius: 8px 8px;
	line-height: 1;
	margin: 0 -5px 0 5px;
	position: relative;
	top: -1px;
}

#publish-tabs-controls li:hover span,
#publish-tabs-controls li.selected span {
	background-color: #dd4422;
}

.tab-group {
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.tab-group-selected {
	position: static;
}

body.subsection #publish-tabs-controls {
	background: -moz-linear-gradient(bottom, #2a2a2a 0%, #303030 15%, #303030 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#2a2a2a), to(#303030), color-stop(0.15, #303030));
	border-color: #616057;
	margin: 0;
	padding: 10px 12px 0 12px;
}
body.subsection #publish-tabs-controls li {
	border-color: #515047;
	border-bottom-color: #616057;
}
body.subsection #publish-tabs-controls li.selected,
body.subsection #publish-tabs-controls li:hover {
	background: #353533;
	border-color: #616057;
	border-bottom-color: #353533;
}