body.publish-tabs #context {
	padding-bottom: 40px;
}

#publish-tabs-controls {
	list-style-type: none;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 16px;
	margin: 0;
}

#publish-tabs-controls li {
	list-style-type: none;
	display: inline-block;
	*display: inline;
	padding: 3px 10px;
	margin: 0 3px 0 0;
	cursor: pointer;
	background: #f1f1f1;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ddd;
	color: #666;
	position: relative;
	top: 1px;
}

#publish-tabs-controls li.selected,
#publish-tabs-controls li.selected:hover {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

#publish-tabs-controls li:hover {
	background: #f7f7f7;
}

#publish-tabs-controls li.invalid span {
	background-color: #aaa;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	padding: 1px 6px;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	line-height: 1.3;
	margin: 0 -5px 0 5px;
	position: relative;
}

#publish-tabs-controls li.invalid {
	text-shadow: none;
}

#publish-tabs-controls li:hover span {
	background-color: #999;
}

#publish-tabs-controls li.selected span {
	background-color: #dd4422;
}

.tab-group {
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.tab-group-selected {
	position: static;
}

body.subsection #publish-tabs-controls {
	background: -moz-linear-gradient(bottom, #2a2a2a 0%, #303030 15%, #303030 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#2a2a2a), to(#303030), color-stop(0.15, #303030));
	border-color: #616057;
	margin: 0;
	padding: 10px 12px 0 12px;
}
body.subsection #publish-tabs-controls li {
	border-color: #515047;
	border-bottom-color: #616057;
}
body.subsection #publish-tabs-controls li.selected,
body.subsection #publish-tabs-controls li:hover {
	background: #353533;
	border-color: #616057;
	border-bottom-color: #353533;
}